@import url('https://rsms.me/inter/inter.css');
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: Inter, 'Inter Placeholder', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: #0ea5e9; /* sky-500 */
    --color-accent-content: #0ea5e9;
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: #38bdf8; /* sky-400 */
        --color-accent-content: #38bdf8;
        --color-accent-foreground: var(--color-zinc-950);
    }
}

@layer base {

    html {
        font-family: Inter, 'Inter Placeholder', sans-serif;
        font-size: 16px;
        line-height: 24px; /* leading-6 */
        color: rgb(25, 33, 46);
        font-weight: 500; /* medium */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
        font-variant-ligatures: common-ligatures;
        font-feature-settings: 'kern' 1, 'liga' 1, 'clig' 1, 'calt' 1;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/* Register page background pattern */
.bg-doodles {
    background-image: url('/images/doodles.png');
    background-repeat: repeat;
    background-size: 380px auto;
    background-attachment: fixed;
}
